{% extends 'layout.html.twig' %}

{% block title %}Detail of {{ employee.firstname }} {{ employee.lastName }}{% endblock %}

{% block content %}
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-users"></i>&nbsp; Follow-up to 
                    {{ employee.firstname }} {{ employee.lastName }}</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#"><i class="fa fa-home fa-lg"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('list_employee') }}">Employees</a>
                </li>
                <li class="breadcrumb-item">Follow-up to 
                    {{ employee.firstname }} {{ employee.lastName }}</li>
            </ul>
        </div>

        {% include 'messages/flash_message.html.twig' %}

        <div class="row">
            <div class="col-md-4">
                <div class="tile">
                    <table class="table table-striped table-bordered table-sm">
                        <tbody>
                        <tr>
                            <th>FirstName</th>
                            <td>{{ employee.firstName }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ employee.lastName }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ employee.email }}</td>
                        </tr>
                        <tr>
                            <th>Job</th>
                            <td>{{ employee.job.name }}</td>
                        </tr>
                        <tr>
                            <th>Daily cost</th>
                            <td>{{ employee.dailyCost|format_currency('EUR') }}</td>
                        </tr>
                        <tr>
                            <th>Hiring date</th>
                            <td>{{ employee.hiringDate|date("d/m/Y") }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <a href="{{ asset('/employee/edit/'~employee.id) }}" class="btn btn-info">
                        <i class="fa fa-pencil"></i>Edit</a>
                </div>

                <div class="tile">
                    <h3 class="title-title mb-4">Add time</h3>
                    {{ form_start(form) }}
                    <div class="form-group row">
                        <label for="select-projects" class="control-label col-md-6">Project concerned</label>
                        <div class="col-md-6">
                            {{ form_errors(form.project) }}
                            {{ form_label(form.project) }}
                            {{ form_widget(form.project,{'attr':{'class':'form-control','placeholder':form.project.vars.label}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="days-count" class="control-label col-md-6">Days</label>
                        <div class="col-md-6">
                            {{ form_errors(form.nbDays) }}
                            {{ form_label(form.nbDays) }}
                            {{ form_widget(form.nbDays,{'type':'number','attr':{'class':'form-control','placeholder':form.nbDays.vars.label}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-6 col-md-8">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Save</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-md-8">
                <div class="tile pb-5">
                    <h3 class="tile-title">Poduction Times History</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-sm">
                            <thead>
                            <tr>
                                <th>Project</th>
                                <th>Days</th>
                                <th>Entry date</th>
                                <th>Total cost</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for timeslist in timeslists %}
                                <tr>
                                    <td>{{ timeslist.project.name }}</td>
                                    <td>{{ timeslist.nbDays }}</td>
                                    <td>{{ timeslist.creationDate|date("d/m/Y G:i:s") }}</td>
                                    <td>{{ (timeslist.nbDays*timeslist.employee.dailyCost)|format_currency('EUR') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <hr/>
                    {% include 'navigation/navigation.html.twig' %}

                </div>
            </div>
        </div>
    </main>
{% endblock %}
